body {
  padding: 10px;
}

.navbar {
  margin: 0px;
  height: 100px;
  width: 100%;
  border: 2px solid black;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 999;
}

.nav-logo {
  height: 80px;
  width: 80px;
}

.nav-heading {
  background-color: transparent;
  font-weight: 900;
  font-size: 35px;
  color: #e63946;
  font-family: "Press Start 2P", sans-serif;
  text-decoration: overline;
  letter-spacing: 1px;
}
.emojis {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  margin-right: 10px;
}
.emoji {
  font-size: 25px;
  background-color: transparent;
}
.emoji a {
  text-decoration: none;
}

.emoji a:hover {
  color: red;
  text-decoration: underline;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading img{
    height: 35px;
  width: 35px;
  margin-right: 8px;
}
.heading h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #0044ff;
  font-weight: 800;
  margin-top: 30px;
  font-family: 'Fredoka One', sans-serif; /* Or any bold cartoon-style font */
  text-shadow: 2px 2px 0 yellow;
}
.sub-tagline{
  text-align: center;
  font-size: 20px;
  margin-top: -12px;
}

.pokemon-card {
  display: flex;
  border-radius: 12px;
  gap: 20px;
  align-items: flex-start;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px;
}

.pokemon-card img {
  border-radius: 14px;
  padding: 10px;
  width: 150px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.pokemon-info h2 {
  margin: 0;
  font-size: 2rem;
}

.pokemon-info .number  {
  color: red;
  font-weight: bold;
  text-shadow: 2px 2px yellow;
}

.pokemon-info .name {
  color: #ffcc00;
  text-shadow: 1px 1px #000;
  font-weight: bold;
  margin-left: 10px;
}

.name a{
    text-decoration: none;
}

.name a:visited{
  color: #ffcc00;
}

.pokemon-info p {
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 1.4;
}
@media (max-width: 768px) {
  .pokemon-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .pokemon-card img {
    margin-bottom: 10px;
  }
}
